body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container {
  margin: 20px;
  padding: 20px;
  background-color: #f5f5f5;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

p {
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

ol {
  margin-bottom: 10px;
  margin-left: -25px;
}

li {
  margin-bottom: 5px;
}

table.nutrition {
  margin-top: 10px;
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  padding: 10px;
}

.navbar a {
  text-decoration: none;
  color: #333;
  margin: 0 10px;
}

.navbar button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

form {
  margin-bottom: 20px;
}

input[type="text"] {
  width: 220px;
  padding: 8px;
  margin-right: 10px;
}
button[type="submit"] {
  padding: 8px 16px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

select {
  padding: 8px;
  margin-left: 10px;
}

h1 {
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 20px;
}

li div {
  font-weight: bold;
}

li img {
  width: 200px;
  height: auto;
  margin-bottom: 10px;
}

button {
  padding: 8px 16px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

button a {
  text-decoration: none;
  color: #fff;
}

/* .auth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */

.auth-container {
  width: 300px;
  padding: 20px;
  background-color: #f5f5f5;
}
.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth > div {
  margin: 20px;
}

.auth > div:first-child {
  margin-right: 250px;
}
form {
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* input[type="text"], */
input[type="password"] {
  width: 220px;
  padding: 8px;
  margin-right: 10px;
}

button[type="submit"] {
  padding: 8px 16px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

.button-group {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
